@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  button {
    @apply rounded-lg border border-transparent px-5 py-2.5 text-base font-medium bg-orange-50 cursor-pointer transition-colors duration-300 hover:border-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-500;
  }
}

@layer components {
  .Main {
    @apply absolute left-40 right-0 top-0 bottom-0;
  }
  .Top {
    @apply relative h-2/5 p-2.5 m-0 bg-neutral-300;
  }
  .Bottom {
    @apply relative h-3/5 p-2.5 m-0 bg-neutral-200;
  }
}

@layer utilities {
  /* Custom overlay scrollbar styles */
  .scrollbar-overlay::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }

  .scrollbar-overlay::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-overlay::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .scrollbar-overlay::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6); 
  }

  body {
    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent; 
  }
}
